body{
    background-color:#1c87c9;
    /* display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 200px;
    margin: 0%; */
}
.flex{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;

}
h2{
    text-align: center;
}

.vansh{
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    
}
.Login-button {
    background-color: red;
    color:white;
    padding: 15px;

}

.Login-button:hover {
    background-color: rgb(242, 65, 6);
}

