.features-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px
    
}

.feature-box {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.feature-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.feature-box h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.feature-box p {
    color: #666;
    font-size: 16px;
}

.feature-box:hover {
    transform: translateY(-5px);
}
